body{
    font-family: serif, sans-serif;
}

#title h1,h3{
    text-align: center;
}

#title{
    background-color: #22A699;
    height: 100vh;
}

.section-break{
    border: dotted #000000 0.5rem;
    border-bottom: none;
    width: 5%;
    margin: 50px auto;
}

.read-text{
    font-family: sans-serif;
}